.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1 0 auto;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: $black;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
    column-gap: 10px;
    margin-left: auto
  }

  label {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 2.3px;
    }
  }


  input, select {
    width: 236px;
    height: 21.87px;
    background: white;
    border: 0.25px solid #6B7074;

    &:focus {
      outline: none;
    }
  }
}